<!DOCTYPE html>
<html lang="pt-br">
<head>
  <%- include('partials/head.ejs') %> 
</head>
<body>
  
  <h1><%= title %></h1>

  <form action="/register/add" method="POST">
    <div>
      <label for="">Nome:</label>
      <input type="text" name="name" placeholder="Digite seu nome:">
    </div>
    <div>
      <label for="">Idade:</label>
      <input type="text" name="age" placeholder="Digite seu nome:">
    </div>
    <div>
      <label for="">Email:</label>
      <input type="text" name="email" placeholder="Digite seu nome:">
    </div>
    <div>
      <label for="">Senha:</label>
      <input type="text" name="password" placeholder="Digite seu nome:">
    </div>

    <button type="submit">Cadastrar</button>g
  </form>

  <%- include('partials/foot.ejs') %> 
</body>
</html>